@tailwind base;
@tailwind components;
@tailwind utilities;


p{
  font-size: 1rem;
}

.container{
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
}
 
a{
  height: min-content;
}


@media (min-width: 768px) {
  span, p{
    font-size: large;
  }
}

