@tailwind base;
@tailwind components;
@tailwind utilities;


p{
  font-size: 1rem;
}

.container{
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
}
 
a{
  height: min-content;
}

.vertical-line::before{
  content: "";
  position: absolute;
  bottom: 0;
  transform: translate(4px, -15%);
  width: 1px;
  height: 90%;
  background-color: white;
}


@media (min-width: 768px) {
  span, p{
    font-size: 1.25rem;
  }
  a {
    font-size: large;
  }
}

